<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Flask POST</title>
    <link rel="stylesheet" href="/static/flask.css">
</head>
<body>
    <h1>Masukkan namamu disini maniess</h1>
    <form action="/submit" method="post">
        <label for="name">Nama :</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
